.contentTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pizzas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 60px;

  @media (max-width: 2020px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 1670px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 1280px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 870px) {
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
  }
}
