.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #f4f4f4;

  font-size: 22px;
  font-weight: 700;

  .cartItemLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cartItemLeftInfo {
      margin-left: 15px;
      h2,
      p {
        margin: 0;
      }
      h2 {
        font-size: 22px;
        margin-bottom: 3px;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        color: #8d8d8d;
      }
    }
  }

  .cartItemCount {
    display: flex;
    align-items: center;

    span {
      padding: 0 12px;
    }

    img {
      cursor: pointer;
    }
  }

  .btnCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
  }

  .btnCount {
    border: 2px solid #fe5f1e;

    &:hover {
      background-color: #ffede6;
    }
  }

  .btnRemove {
    border: 2px solid #d7d7d7;

    &:hover {
      background-color: #f3f2f2;
    }
  }
}
