.root {
  position: relative;

  .icon {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 15px;
    left: 10px;
    path {
      fill: #aaaaaa;
    }
  }
  .search {
    font-size: 16px;
    width: 500px;
    padding: 15px 40px;
    border-radius: 15px;
    border: 1px solid #aaaaaa;
    transition: all 0.2s ease-in-out;

    input {
      color: #aaaaaa;
    }
    &:hover {
      border: 1px solid #636363;
    }
    &:focus {
      width: 700px;
      border: 1px solid #636363;
    }
  }
  .close {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    polygon {
      fill: #aaaaaa;
    }
  }
}
