:root {
  --basic-white: brightness(0) saturate(100%) invert(100%) sepia(50%) saturate(2%)
    hue-rotate(128deg) brightness(106%) contrast(101%);
  --basic-white-orange: brightness(0) saturate(100%) invert(61%) sepia(76%) saturate(319%)
    hue-rotate(328deg) brightness(101%) contrast(101%);
  --basic-orange: brightness(0) saturate(100%) invert(39%) sepia(91%) saturate(878%)
    hue-rotate(344deg) brightness(93%) contrast(99%);
}

.pizzaBlock {
  width: 280px;
  margin-right: 26px;
  margin-bottom: 65px;

  text-align: center;

  h2 {
    margin: 11px 0 22px 0;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.01em;
  }

  .options {
    background-color: #f3f3f3;

    padding: 7px 6px;
    border-radius: 10px;

    ul {
      display: flex;
      flex-wrap: wrap;

      gap: 7px 6px;

      font-size: 14px;
      font-weight: 800;
      text-wrap: nowrap;

      li {
        flex: 1;

        background-color: #ffffff00;
        border-radius: 5px;
        padding: 10px 15px;

        cursor: pointer;

        &:hover {
          background-color: #ffffff46;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.02);
        }
      }

      .active {
        background-color: #ffffff !important;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04) !important;
      }
      .disabled {
        background-color: #ffffff00 !important;
        color: #2c2c2c2f;
        box-shadow: none !important;
        cursor: default;
      }
    }
    ul:last-child {
      margin-top: 5px;
    }
  }

  .pizzaBlockInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-top: 17px;

    span {
      font-weight: 700;
      font-size: 22px;
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 10px 15px;
      width: 132px;

      border: 1px solid #fe5f1e;
      background-color: #ffffff;
      border-radius: 30px;

      color: #eb5a1e;
      font-weight: 700;
      font-size: 16px;

      cursor: pointer;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

      img {
        animation: animateFilterWhiteToOrange 0.2s ease-in-out forwards;
      }

      &:hover {
        background-color: #fe5f1e;
        color: #ffffff;
        img {
          animation: animateFilterOrangeToWhite 0.2s ease-in-out forwards;
        }
      }
    }

    .buttonAdded {
      padding: 10px 12px;
      width: 155px;

      div {
        height: 22px;
        width: 22px;

        background-color: #fe5f1e;
        border-radius: 10px;

        color: #ffffff;
        font-weight: 700;
        font-size: 16px;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      }

      &:hover {
        div {
          background-color: #ffffff;
          color: #fe5f1e;
        }
      }
    }

    @keyframes animateFilterOrangeToWhite {
      0% {
        filter: var(--basic-orange);
      }
      50% {
        filter: var(--basic-white-orange);
      }
      100% {
        filter: var(--basic-white);
      }
    }

    @keyframes animateFilterWhiteToOrange {
      0% {
        filter: var(--basic-white);
      }
      50% {
        filter: var(--basic-white-orange);
      }
      100% {
        filter: var(--basic-orange);
      }
    }
  }
}
