.pizzaBlockWrapper {
  display: flex;
  justify-content: center;

  .pizzaBlock {
    width: 280px;

    text-align: center;

    img {
      padding: 10px 0 0 10px;
    }

    h2 {
      margin: 11px 0 22px 0;
      font-weight: 800;
      font-size: 20px;
      letter-spacing: 0.01em;
    }

    .pizzaBlockInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      margin-top: 17px;

      span {
        font-weight: 700;
        font-size: 22px;
      }

      .button {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 10px 15px;
        width: 132px;

        border: 1px solid #fe5f1e;
        background-color: #ffffff;
        border-radius: 30px;

        color: #eb5a1e;
        font-weight: 700;
        font-size: 16px;

        cursor: pointer;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

        svg {
          path {
            transition: all 0.2s ease-in-out;
          }
        }

        &:hover {
          background-color: #fe5f1e;
          color: #ffffff;
          svg {
            path {
              fill: #ffffff;
            }
          }
        }
      }

      .buttonAdded {
        padding: 10px 12px;
        width: 155px;

        span {
          height: 25px;
          width: 25px;
          line-height: 25px;

          background-color: #fe5f1e;
          border-radius: 13px;

          color: #ffffff;
          font-weight: 700;
          font-size: 16px;
          transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        }

        &:hover {
          span {
            background-color: #ffffff;
            color: #fe5f1e;
          }
        }
      }
    }
  }
}
