* {
  font-family: 'Nunito', sans-serif;
  // font-size: 16px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffdf8c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
  margin: 40px auto;
  width: calc(100vw - 100px);

  background: #ffffff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
  border-radius: 10px;

  /*CLEAR-BEGIN*/
  * {
    box-sizing: border-box;
    outline: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
  /*CLEAR-END*/
}

.content {
  padding: 40px 48px 96px 67px;

  h1 {
    font-weight: 800;
    margin: 32px 0;
  }
}
