.notFound {
  text-align: center;
  margin: 0 auto;
  padding: 100px;
  max-width: 750px;

  h1 {
    font-size: 48px;
    font-weight: 700;
  }
  p {
    font-size: 22px;
    font-weight: 400;
  }
}
